/* https://github.com/dracula/wofi/blob/master/style.css */

/* Example to define colors from: https://gist.github.com/frbor/84a356ab45cf2a0c1253a5aa86fe7f56 */
/* @define-color base00 #282828; */
/* @define-color base01 #3C3836; */
/* @define-color base02 #504945; */
/* @define-color base03 #665C54; */
/* @define-color base04 #BDAE93; */
/* @define-color base06 #D5C4A1; */
/* @define-color base06 #EBDBB2; */
/* @define-color base07 #FBF1C7; */
/* @define-color base08 #FB4934; */
/* @define-color base09 #FE8019; */
/* @define-color base0A #FABD2F; */
/* @define-color base0B #B8BB26; */
/* @define-color base0C #8EC07C; */
/* @define-color base0D #83A598; */
/* @define-color base0E #D3869B; */
/* @define-color base0F #D65D0E; */

/* color: @base06; */

window {
margin: 0px;
border-radius: 25px;
border: 3px solid #bd93f9;
background-color: #282a36;
/* opacity: .9; */
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #44475a;
}

#inner-box {
padding: 10px;
margin: 5px;
border: none;
border-radius: 25px;
background-color: #282a36;
}

#outer-box {
padding: 10px;
margin: 5px;
border-radius: 25px;
border: none;
background-color: #282a36;
}

#scroll {
padding: 5px;
margin: 5px;
border: none;
border-radius: 25px;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
padding: 10px;
border-radius: 10px;
background-color: #44475a;
}

#entry:selected #text {
font-weight: bold;
}
/* https://cloudninja.pw/docs/wofi.html */
/* https://man.archlinux.org/man/wofi.1.en  */

/* window { */
/* margin: 5px; */
/* border-radius: 25px; */
/* border: 2px solid rgba(255, 0, 0, 0.5); */
/* background-color: rgba(255, 0, 0, 0.5); */
/* } */

/* #outer-box { */
/* margin: 5px; */
/* border: 2px solid green; */
/* background-color: green; */
/* } */

/* #scroll { */
/* margin: 5px; */
/* border: 2px solid orange; */
/* background-color: orange; */
/* } */

/* #input { */
/* margin: 5px; */
/* border: 2px solid blue; */
/* background-color: blue; */
/* } */

/* #inner-box { */
/* margin: 5px; */
/* border: 2px solid yellow; */
/* border-radius: 25px; */
/* background-color: yellow; */
/* } */

/* #text { */
/* margin: 5px; */
/* border: 2px solid cyan; */
/* background-color: cyan; */
/* } */
